.MainHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #1370fe;
    border-bottom: solid 1px black;
}
.MainHeader h1 {
    padding: 2rem 0;
}