@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: #423e3a;
}

body {
  font-family: 'Work Sans', 'Open Sans', sans-serif;
  font-size: 1.6rem;
}

:root {
  --dark: #1e1e1f;
  --light-dark: #222224;
  --light-grey: #dadada;
  --grey: #292a2b;
  --white: #f7f7f7;
}

div#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--light-dark);
  color: var(--white);
}

header,
footer {
  flex: 0;
}

main {
  margin-top: 13rem;
  flex: 1;
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin {
  margin: 1rem;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
