* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  font-size: 62.5%;
  color: #423E3A;
}
body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

div#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  flex: 0;
}

main {
  flex:1;
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin{
  margin: 1rem;
}